@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="margin-top:100px; font-size:60px;">The Simplest way to keep notes</h1>
    <p style="margin-top:20px; font-size:20px;">All your notes, synced on all your devices<br> Get Simplenote now for iOS, Android, Mac, Windows, Linux, or in your browser.</p>
    <a class='btn btn-primary btn-sm' href='/note/signup'>Sign up </a>

</div>

